.card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #414141;
    padding: 1rem 2rem;
    margin-bottom: 1rem;

    .card-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}

.card-complete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #414141;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    text-decoration: line-through;

    .card-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
}

.done {
    opacity: 0.5;
}

