@use '../../variables.scss';
@use '../../mixins.scss';

.card {
    display: variables.$d-flex;
    @include mixins.btn-center;
    flex-wrap: wrap;
    border-radius: variables.$border-radius;
    padding: variables.$rem * 4 variables.$rem * 8;
    margin-bottom: variables.$rem * 4;
    font-family: Arial, Helvetica, sans-serif;

    .check {
        display: variables.$d-flex;
        gap: variables.$rem * 4;
    }
}

.card-complete {
    display: variables.$d-flex;
    @include mixins.btn-center;
    border-radius: variables.$border-radius - 2px;
    background-color: variables.$colorDark;
    padding: variables.$rem * 4 variables.$rem * 8;
    margin-bottom: variables.$rem * 4;
    text-decoration: line-through;

    .card-button {
        display: variables.$d-flex;
        @include mixins.flex-center;
        gap: variables.$rem * 2;
    }
}

.done {
    opacity: variables.$numberDefault + 0.5;
}

