@use './mixins.scss';
@use './variables.scss';

.section {
  width: variables.$width;
  height: 100vh;
  transition-duration: 0.5s;

  button {
    &:hover {
      cursor: pointer;
    }
  }

  .switch {
    width: variables.$rem * 12;
    position: variables.$p-relative;
    top: variables.$rem * 10;
    left: variables.$rem * 13;
    display: variables.$d-flex;
    @include mixins.flex-center;
    cursor: pointer;
  
    .switch-wrapper {
      display: variables.$d-inline;
      width: variables.$rem * 15;
      height: variables.$rem * 8.5;
      position: variables.$p-absolute;
  
      .switch-button {
        position: variables.$p-absolute;
        top: variables.$numberDefault;
        left: variables.$numberDefault;
        right: variables.$numberDefault;
        bottom: variables.$numberDefault;
        display: variables.$d-flex;
        @include mixins.btn-center;
        border-radius: variables.$rem * 10;
        background-color: variables.$color-white;
  
        &::before {
          content: '';
          width: variables.$rem * 6.5;
          height: variables.$rem * 6.5;
          position: variables.$p-absolute;
          left: variables.$rem;
          bottom: variables.$rem;
          border-radius: variables.$width - 50%;
          transition: .4s all ease;
          background-color: variables.$color-black;
        }
      }
  
      input {
        opacity: variables.$numberDefault;
        width: variables.$numberDefault;
        height: variables.$numberDefault;
  
        &:checked 
          + .switch-button {
            background-color: variables.$colorDark;
            
            &::before {
              transform: translateX(26px);
              background-color: variables.$color-white;
            }
          }
      }
    }
  }
  
  .content-list {
    top: variables.$rem * 25;
    width: variables.$width;
    position: variables.$p-relative;
    display: variables.$d-flex;
    @include mixins.flex-column;
    
    .todos {
      display: variables.$d-flex;
      flex-direction: column;
      gap: variables.$rem * 4;
    }

    .list {
      display: variables.$d-flex;
      @include mixins.align-center;
      flex-direction: column;
      width: variables.$width;
      max-height: 30em;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 6px;
        background-color: variables.$color-white;
        border-radius: variables.$border-radius;
      }

      &::-webkit-scrollbar-thumb {
        width: 2px;
        background-color: variables.$color-black;
        border-radius: variables.$border-radius;
      }
    }
  }

  .message {
    position: variables.$p-fixed;
    top: 600px;
    left: 20px;
    padding: variables.$rem * 1.5 variables.$rem * 5;
    border-radius: variables.$border-radius;
    background-color: rgb(187, 60, 60);
    color: variables.$color-white;
    font-family: 'Roboto';

    @media screen and (max-width: 400px){
      top: 400px;
    }
  }
}

.section-light {
  background-color: variables.$colorLight;

  h1 {
    text-align: variables.$text-center;
    padding-bottom: variables.$rem * 4;
    font-family: 'roboto';
    font-size: variables.$rem * 8;
    font-weight: 800;
    color: variables.$color-black;
  }

  .card {
    border: 1px solid variables.$colorDark;
    width: variables.$width - 40%;
    background-color: variables.$colorLightContent;
    padding: 2em;
    color: variables.$color-black;

    button {
      background-color: variables.$colorDanger;
      padding: variables.$rem * 4 variables.$rem * 8;
      border-radius: variables.$border-radius;
      border: none;
    }
  }

  .add-todo {
    width: variables.$width - 20%;
    display: variables.$d-flex;
    gap: variables.$rem * 2;
    margin-bottom: variables.$rem * 8;
  
    input {
        color: variables.$color-black;
        padding: 1px 5px;
        width: variables.$width;
        height: 40px;
        background-color: variables.$colorLightContent;
        border: 1px solid variables.$color-black;
        border-radius: variables.$border-radius - 5px;
    }
  
    button {
      position: variables.$p-relative;
      width: variables.$rem * 25;
      height: 45px;
      background-color: variables.$colorLightContent;
      border: 1px solid variables.$color-black;
      border-radius: variables.$border-radius;
      color: variables.$color-white;
      color: variables.$color-black;
    }
  }
}

.section-dark {
  background-color: variables.$colorDark;

  h1 {
    text-align: variables.$text-center;
    padding-bottom: variables.$rem * 4;
    font-family: 'roboto';
    font-size: variables.$rem * 8;
    font-weight: 800;
    color: variables.$color-white;
  }

  .card {
    border: 1px solid variables.$colorLightContent;
    width: variables.$width - 40%;
    background-color: variables.$colorDark;
    padding: 2em;
    color: variables.$color-white;

    button {
      color: variables.$color-white;
      background-color: variables.$colorDarkContent;
      padding: variables.$rem * 4 variables.$rem * 8;
      border-radius: variables.$border-radius;
      border: none;
    }
  }

  .add-todo {
    width: variables.$width - 20%;
    display: variables.$d-flex;
    gap: variables.$rem * 2;
    margin-bottom: variables.$rem * 8;
  
    input {
        color: variables.$color-white;
        padding: variables.$rem;
        width: variables.$width;
        height: 40px;
        background-color: variables.$colorDark;
        border: 1px solid variables.$colorLightContent;
        border-radius: variables.$border-radius - 5px;
    }
  
    button {
      position: variables.$p-relative;
      width: variables.$rem * 25;
      height: 45px;
      background-color: variables.$colorDarkContent;
      border: 1px solid variables.$colorLightContent;
      border-radius: variables.$border-radius;
      color: variables.$color-white;
    }
  }
}