$width: 100%;
$d-flex: flex;
$d-inline: inline-block;
$gap: 1rem;
$border-radius: 10px;
$p-fixed: fixed;
$p-absolute: absolute;
$p-relative: relative;
$color-white: white;
$color-black: black;
$rem: 0.25rem;
$colorLight: #F1F1F1;
$colorLightContent: #CECCDA;
$colorDark: #242424;
$colorDarkContent: #1d1c1c;
$colorDanger: #d4abab;
$numberDefault: 0;
$text-center: center;